---
import Placeholder from "../../../assets/img/Jam_placeholder.png";
---

<a href="id" class="flex gap-2 border-t border-dark-gray p-2">
    <div class="mask mask-hexagon">
        <img src={Placeholder.src} alt="" class="h-12.5 w-12.5">
    </div>
    <div>
        <h4>Nom de la jam</h4>
        <p class="tiny">Description de la jam</p>
    </div>
</a>