---
import Group from "../../../assets/svg/Group.svg";
---

<a href=``>
    <article class="border-1 border-drak-gray p-3 flex flex-col justify-between gap-2 w-80 rounded-md">
        <div class="flex gap-2">
            <img src= alt="" class="h-24"/>
            <div class="flex flex-col gap-2">
                <h3>Nom de la Jam</h3>
                <p class="tiny line-clamp-2">Il retse zdizjd</p>
            </div>
        </div>
        <div class="flex flex-col">
            <p class="tiny">Terminée il y a 4 mois et 2 semaines</p>
        </div>
        <div class="flex items-center gap-2 self-end">
            <Group />
            <p>000</p>
        </div>
    </article>
</a>