---
import Placeholder from "../../../assets/img/Jam_placeholder.png";
---

<a href="id" class="flex gap-2 border-t border-dark-gray p-2">
    <img src={Placeholder.src} alt="" width="50px" height="50px">
    <div>
        <h4>Nom de la jam</h4>
        <p class="tiny">Description de la jam</p>
    </div>
</a>