---
import Book from "../../../assets/svg/Book.svg";

import Placholder from "../../../assets/img/Article_placeholder.png"
---

<a href="" class="h-fit">
    <article class="space-y-2.5 h-fit">
        <img src={Placholder.src} alt="">
        <h4>Titre de l'article principale</h4>
        <div class="flex gap-2.5 items-center tiny">
            <p class="border rounded-md px-2.5 py-1">Topic</p>
            <p>07 Mars 25</p>
            <span class="bg-dark-gray w-0.25 h-3"></span>
            <Book />
            <p>2 min</p>
        </div>
    </article>
</a>