---
import Book from "../../../assets/svg/Book.svg";
---

<a href="" class="flex flex-col gap-2 p-2 border-t border-dark-gray">
    <div class="flex items-center gap-2">
        <span class="bg-secondary-2 h-8 w-8"></span>
        <p>Username</p>
    </div>
    <p class="line-clamp-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla tempore
        a, velit modi recusandae asperiores ducimus cumque tempora aliquam
        perspiciatis nam non cum placeat sapiente rem officia distinctio vel
        eum?
    </p>
</a>
