---
const { ...comment } = Astro.props;
---

<a href="" class="flex flex-col gap-2 p-2 border-t border-dark-gray">
    <div class="flex items-center gap-2">
        {!(comment.expand.user.image_URL.length == 0) ? (
                    <img class="hexagon w-10.5 h-12 object-center -z-30" src={comment.expand.user.image_URL}/>
                ) : (
                    <span class="bg-secondary-2 hexagon w-10.5 h-12 object-center -z-30"></span>
                )
            }
        <p class="tiny">{comment.expand.user.name}</p>
    </div>
    <p class="line-clamp-2">
        {comment.text}
    </p>
</a>
