---
const { ...comment } = Astro.props;
---

<a href="" class="flex flex-col gap-2 p-2 border-t border-dark-gray">
    <div class="flex items-center gap-2">
        <span class="bg-secondary-2 h-8 w-8"></span>
        <p>{comment.expand.user.name}</p>
    </div>
    <p class="line-clamp-2">
        {comment.text}
    </p>
</a>
