---
import Crown from "../../../assets/svg/Crown.svg";

const {...team} = Astro.props;
console.log(team.expand?.game_jam)

// Cécupération des donné utilisateur
import PocketBase from "pocketbase";
const pb = new PocketBase("http://127.0.0.1:8090");

const cookies = Astro.cookies;
const token = cookies.get("pb_auth")?.value;

if (token) {
    pb.authStore.save(token);
}

let user = pb.authStore.model;

if (!user && pb.authStore.isValid) {
    await pb.collection("users").authRefresh();
    user = pb.authStore.model;
}
---

<a href=`/mes_jams/${team.id}`>
    <article class="border-1 border-drak-gray p-3 flex flex-col justify-between gap-2 w-80 rounded-md">
        <div class="flex gap-2">
            <img src={team.image_URL} alt="" class="h-24"/>
            <div class="flex flex-col gap-2">
                <h3>{team.expand.game_jam?.name}</h3>
                <p class="tiny line-clamp-2">{team.expand.game_jam?.description}</p>
            </div>
        </div>
        <div class="flex flex-col">
            <p class="tiny">Terminée il y a 4 mois et 2 semaines</p>
        </div>
        {
            team.expand.game_jam.host == user?.id ? (
                <div class="self-end">
                    <Crown />
                </div>
            ) : (
                <div class="self-end"></div>
            )
        }
    </article>
</a>