---
import Crown from "../../assets/svg/Crown.svg";
import User from "../../assets/svg/user.svg";

import PlaceHolder from "../../assets/img/jam_placeholder.png";
---

<div class="border-1 border-drak-gray p-3 flex flex-col gap-2 min-w-96 rounded-md">
    <div class="flex gap-2">
        <img src={PlaceHolder.src} alt="" />
        <div class="flex flex-col gap-2">
            <h3>Nom de la Jam</h3>
            <p class="tiny">Description de la jam</p>
        </div>
    </div>
    <div class="flex flex-col">
        <p>Se termine dans ...</p>
        <span class="font-black text-negative text-4xl self-center">12 : 34 : 56</span>
    </div>
    <div class="flex justify-between">
        <div class="flex items-center gap-2">
            <User />
            <p>000</p>
        </div>
        <Crown />
    </div>
</div>
