---
import Layout from "../../layouts/Layout.astro";

import Reponses from "../../components/Card/Forum/Reponses.astro";
import Post from "../../components/Card/Forum/Post.astro";
---

<Layout>
    <div class="grid grid-cols-4 gap-10 p-10">
        <div class="space-y-12 col-start-1 col-end-4">
            <h1>Forum</h1>
            <h2>Discussions récentes</h2>
            <section class="border-b-1 border-dark-gray">
                <Post />
                <Post />
            </section>
        </div>

        <div class="space-y-10">
            <section class="flex flex-col gap-4 border-1 border-dark-gray p-4 rounded-md">
                <h2>Réponses</h2>
                <div class="border-b border-dark-gray">
                    <Reponses />
                    <Reponses />
                    <Reponses />
                </div>
            </section>
        </div>
    </div>
</Layout>