---
import Layout from "../../layouts/Layout.astro";

import JamMedium from "../../components/Card/Jam/Jam_medium.astro";

import { getAllJamFiltered } from "../../../backend/backend.mjs";

let jams = await getAllJamFiltered(true, "present");

if (Astro.request.method === "POST") {
    try {
        const formData = await Astro.request.formData();
        const data = {
            status: formData.get("status"),
            popular: formData.get("popular") == "true",
        };
        console.log(data);
        jams = await getAllJamFiltered(data.popular, data.status);
    } catch (error) {
        console.error(error);
    }
} else {
    jams = await getAllJamFiltered(true, "present");
}
---

<Layout>
    <div class="space-y-12.5 p-10">
        <h1>Toutes les jams</h1>
        <section class="space-y-5">
            <h2 class="normal-case">Trier par</h2>
            <div x-data="{open: false}" class="flex flex-col gap-4">
                <button
                    @click="open = !open"
                    class="btn-light cursor-pointer self-start"
                >
                    Filtre
                    <span
                        !aria-expanded="open"
                        class="border-t-2 border-r-2 border-brand-1 h-3 w-3 rotate-135 relative bottom-1 left-1"
                    ></span>
                </button>
                <form x-show="open" method="POST" class="flex border-2 border-brand-1 rounded-2xl px-5 py-1 self-start gap-8">
                    <div>
                        <p class="font-bold">Trier par Statut</p>
                        <div class="flex justify-between">
                            <label for="status">Terminé</label>
                            <input
                                type="radio"
                                name="status"
                                id="past"
                                value="past"
                                required
                            />
                        </div>
                        <div class="flex justify-between">
                            <label for="status">En cours</label>
                            <input
                                type="radio"
                                name="status"
                                id="present"
                                value="present"
                                required
                            />
                        </div>
                        <div class="flex justify-between">
                            <label for="status">Bienôt</label>
                            <input
                                type="radio"
                                name="status"
                                id="future"
                                value="future"
                                required
                            />
                        </div>
                    </div>
                    <div>
                        <p class="font-bold">Trièe par popularité</p>
                        <div class="flex justify-between">
                            <label for="popular">Croissante</label>
                            <input
                                type="radio"
                                name="popular"
                                id="yes"
                                value="true"
                                required
                            />
                        </div>
                        <div class="flex justify-between">
                            <label for="popular">Décroissante</label>
                            <input
                                type="radio"
                                name="popular"
                                id="yes"
                                value="false"
                                required
                            />
                        </div>
                    </div>
                    <button type="submit" class="btn-full self-center">Filtrer</button>
                </form>
            </div>
        </section>
        <section class="grid grid-cols-4 gap-6">
            {jams?.map((jam) => <JamMedium {...jam} />)}
        </section>
    </div>
</Layout>

<script>
    const CDs = document.querySelectorAll(".CD");

    function count() {
        CDs.forEach((CD) => {
            if (!CD.textContent) {
                return null;
            }
            const parts = CD.textContent.trim().split(":");
            if (parts.length !== 3) return;

            let [hours, minutes, seconds] = parts.map(Number);

            let totalSeconds = hours * 3600 + minutes * 60 + seconds;
            if (totalSeconds <= 0) return;

            totalSeconds--;

            const h = String(Math.floor(totalSeconds / 3600)).padStart(2, "0");
            const m = String(Math.floor((totalSeconds % 3600) / 60)).padStart(
                2,
                "0",
            );
            const s = String(totalSeconds % 60).padStart(2, "0");

            CD.textContent = `${h}:${m}:${s}`;
        });
    }

    setInterval(count, 1000);
</script>
