---
import "../styles/global.css";

import PocketBase from "pocketbase";
const pb = new PocketBase("http://127.0.0.1:8090");

let error = "";
let message = "";
const cookies = Astro.cookies;

// Donné user si connecter
const token = cookies.get("pb_auth")?.value;

if (token) {
  pb.authStore.save(token);
}

let user = pb.authStore.model;

if (!user && pb.authStore.isValid) {
  await pb.collection("users").authRefresh();
  user = pb.authStore.model;
}

// Récupération formulaire
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const formType = formData.get("formType");

  const email = formData.get("email");
  const password = formData.get("password");
  const passwordConfirm = formData.get("passwordConfirm");

  try {
    if (formType === "register") {
      const name = formData.get("name");
      await pb.collection("users").create({
        email,
        password,
        passwordConfirm,
        name,
      });
      message = "✅ Compte créé. Connectez-vous.";
    }

    if (formType === "login") {
      const authData = await pb
        .collection("users")
        .authWithPassword(email, password);
      Astro.cookies.set("pb_auth", pb.authStore.token, {
        path: "/",
        httpOnly: true,
      });
      return Astro.redirect("/");
    }
  } catch (e) {
    console.error(e);
  }
}
console.log(pb.authStore.isValid);
console.log(pb.authStore.record?.id);
console.log(user?.name);
---

<html>
  <body>
    {error && <p class="error">{error}</p>}
    {message && <p class="success">{message}</p>}

    {
      user ? (
        <>
          <p>
            Bienvenue, <strong>{user.name || user.email}</strong> 👋
          </p>
        </>
      ) : (
        <>
          <div class="flex absolute inset-0">
            <form
              method="POST"
              class="flex flex-col justify-center items-center gap-12.5 w-full"
            >
              <h1>Connecte toi !</h1>
              <input type="hidden" name="formType" value="login" />
              <div class="space-y-5">
                <div>
                  <label for="email">Votre email</label>
                  <input
                    name="email"
                    type="email"
                    placeholder="Email"
                    required
                    class="btn-light normal-case"
                  />
                </div>
                <div>
                  <label for="email">Votre mot de passe</label>
                  <input
                    name="password"
                    type="password"
                    placeholder="Mot de passe"
                    required
                    class="btn-light normal-case"
                  />
                </div>
              </div>
              <button type="submit" class="btn-full bg-black cursor-pointer">
                Se connecter
              </button>
            </form>

            <form
              method="POST"
              class="flex flex-col justify-center items-center bg-secondary-1 w-full gap-12.5"
            >
              <h1>Nouveaux ?</h1>
              <input type="hidden" name="formType" value="register" />
              <div class="space-y-5">
                <div>
                  <label for="">Votre pseudo</label>
                  <input
                    name="name"
                    type="text"
                    placeholder="Pseudo"
                    required
                    class="btn-light normal-case border-white text-black"
                  />
                </div>
                <div>
                  <label for="">Votre email</label>
                  <input
                    name="email"
                    type="email"
                    placeholder="Email"
                    required
                    class="btn-light normal-case border-white text-black"
                  />
                </div>
                <div>
                  <label for="">Votre mot de passe</label>
                  <input
                    name="password"
                    type="password"
                    placeholder="Mot de passe"
                    required
                    class="btn-light normal-case border-white text-black"
                  />
                </div>
                <div>
                  <label for="">Confirmer votre mot de passe</label>
                  <input
                    name="passwordConfirm"
                    type="password"
                    placeholder="Confirmer"
                    required
                    class="btn-light normal-case border-white text-black"
                  />
                </div>
              </div>
              <button type="submit" class="btn-full bg-black cursor-pointer">
                Creer un compte
              </button>
            </form>
          </div>
        </>
      )
    }
  </body>
</html>
