---
import Layout from "../../layouts/Layout.astro";

import Search from "../../assets/svg/Search.svg"
---

<Layout>
    <div class="flec flex-col p-10 gap-10">
        <section class="flex justify-between">
            <h1>Actualités</h1>
            <div class="button">
                <input type="search" placeholder="Rechercher">
                <Search />
            </div>
        </section>
        <section>
        </section>
    </div>
</Layout>