---
import Logo from "../assets/svg/logo-white.svg";

import Insta from "../assets/svg/icon_insta.svg";
import Facebook from "../assets/svg/icon_facebook.svg";
import TikTok from "../assets/svg/icon_tiktok.svg";
import Twitter from "../assets/svg/icon_twitter.svg";
---

<footer class="px-28.75 grid grid-cols-5 grid-rows-3 raw bg-secondary-2">
    <a href="/" class="flex items-center">
        <Logo width={82} height={60}/>
    </a>
    <div class="space-y-6 col-start-2 row-start-2">
        <h4>Navigation</h4>
        <div class="flex flex-col gap-3 tiny">
            <a href="/">Accueil</a>
            <a href="/mes_jams">Mes Jams</a>
            <a href="/actu">Actualités</a>
            <a href="/toutes_les_jams">Toutes les jams</a>
            <a href="/forum">Forum</a>
            <a href="/a_propos">À propos</a>
        </div>
    </div>
    <div class="space-y-6 col-start-3 row-start-2">
        <h4>Compte</h4>
        <div class="flex flex-col gap-3 tiny">
            <a href="/profile">Gérer mon compte</a>
            <a href="/parametre">Grer mon abonnement</a>
        </div>
    </div>
    <div class="space-y-6 col-start-4 row-start-2">
        <h4>Mentions</h4>
        <div class="flex flex-col gap-3 tiny">
            <a href="/mentions_legals">Mentions légales</a>
            <a href="/cgv">Conditions générales de vente</a>
        </div>
    </div>
    <div class="space-y-6 col-start-5 row-start-2">
        <h4>Contacts</h4>
        <div class="flex flex-col gap-3 tiny">
            <a href="/contact">Formulaire de contacte</a>
            <a type="mailto">Envoyer un mail</a>
            <a href="/partenariats">Partenariats</a>
        </div>
    </div>
    <div class="flex flex-col gap-7.5 justify-center items-center col-start-1 col-end-6">
        <span class="bg-black h-0.25 w-full"></span>
        <div class="flex  gap-36 *:cursor-pointer">
            <Insta width={40} height={40}/>
            <Facebook width={40} height={40}/>
            <TikTok width={40} height={40}/>
            <Twitter width={33} height={33}/>
        </div>
    </div>
</footer>