---
import Layout from "../../layouts/Layout.astro";
import { addGame, getTeamBoard } from "../../../backend/backend.mjs";
import { cookieParse } from "pocketbase";

const { id } = Astro.params;
const team = await getTeamBoard(id);

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    console.log(data);
    const message = await addGame(data, team?.expand?.game_jam.id, team?.id);
    console.log(message.message);
    return Astro.redirect(message.redirect);
}
---

<Layout>
    <h1>Soumettre un jeu</h1>
    <form
        method="POST"
        enctype="multipart/form-data"
        class="grid grid-cols-6 gap-7"
    >
        <div class="col-start-2 col-end-4">
            <label for="name" class="text-xl font-medium"
                >Nom de votre jeu</label
            >
            <input
                type="text"
                name="name"
                placeholder="Nom de la jam"
                required
                class="btn-light text-black border-brand-1 normal-case w-full"
            />
        </div>
        <div class="col-start-2 col-end-4">
            <label for="image" class="text-xl font-medium"
                >Image d'illustration de votre Jeu</label
            >
            <input
                type="file"
                name="image"
                accept="image/png, image/jpeg, image/jpg"
                required
                class="btn-light text-black border-brand-1 normal-case w-full"
            />
        </div>
        <div class="col-start-4 col-end-6">
            <label for="image" class="text-xl font-medium"
                >Fichier de votre jeu</label
            >
            <input
                type="file"
                name="file_dl"
                placeholder="Thème de la jam"
                required
                class="btn-light text-black border-brand-1 normal-case w-full"
            />
        </div>
        <div class="col-start-3 col-end-5">
            <label for="image" class="text-xl font-medium"
                >Fichier Web de votre jeu</label
            >
            <input
                type="file"
                name="file_web"
                placeholder="Thème de la jam"
                class="btn-light text-black border-brand-1 normal-case w-full"
            />
        </div>
        <div class="col-start-2 col-end-6">
            <label for="description" class="text-xl font-medium"
                >Décriver votre Jeu</label
            >
            <textarea
                name="description"
                placeholder="Descrption du jeu"
                class="btn-light text-black border-brand-1 normal-case min-h-30 w-full"
            ></textarea>
        </div>

        <button type="submit" class="btn-full col-start-3 col-end-5"
            >Créer</button
        >
    </form>
</Layout>
