---
import Layout from "../../layouts/Layout.astro";

import User from "../../assets/svg/User_orange.svg";

const { id } = Astro.params;
import { getTeam } from "../../../backend/backend.mjs";
const team = await getTeam(id);
console.log(team);
---

<Layout>
    <div class="px-10 py-20">
        <section class="flex justify-between items-center">
            <p>{team?.name}</p>
            <a href="" class="btn-light">
                <User />
                Inviter
            </a>
        </section>
        <section class="">
            <div class="flex justify-between items-center">
                <h1>{team.expand.game_jam?.name}</h1>
                <a href=`/toutes_les_jams/${team.expand.game_jam?.id}` class="btn-light">Page de la jam</a>
            </div>
            <div>
                <article>
                    <h2>Compte à rebours</h2>
                    <!-- <p>{team.expand.game_jam?.d}</p> -->
                </article>
            </div>
        </section>  
    </div>
</Layout>